/* TODO why is this fkn file called architecture */

ul {
  padding-left: 0;
}

li.fighter {
  list-style-type: none;
  padding: 1rem;
  background-color: aliceblue;
  border: 1px solid #444;
  margin-bottom: .5rem;
}

li.fighter.selected {
  background-color: #264D73;
  color: white;
}

li.fighter:hover {
  background-color: #444;
  color: white;
  cursor: pointer;
}

span.delete-fighter {
  float: right;
}

span.delete-fighter:hover {
  color: red;
}

.formError {
  color: red;
}

label {
  display: block;
  padding-bottom: .4rem;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  color: black;
}

table td {
  padding: 12px 15px;
}

table tr {
  border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.win {
  color: green;
}

.loss {
  color: darkred;
}
