/* TODO why is this fkn file called architecture */

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 1rem;
  background-color: aliceblue;
  border: 1px solid #444;
  margin-bottom: .5rem;
}

li.selected {
  background-color: #264D73;
  color: white;
}

li:hover {
  background-color: #444;
  color: white;
  cursor: pointer;
}

span.delete-fighter {
  float: right;
}

span.delete-fighter:hover {
  color: red;
}

.formError {
  color: red;
}

label {
  display: block;
  padding-bottom: .4rem;
  margin-top: 1rem;
}
