<span>Search: </span>
<input type="text" [(ngModel)]="filterValue" (ngModelChange)="filterChanged($event)">
<ul>
  <li class="expandable-container" *ngFor="let fighter of fighters"
      (click)="selectFighter(fighter)">
    {{fighter.name}}
    <span class="delete-fighter" (click)="deleteFighter(fighter)">
      <i class="fa fa-trash"></i>
    </span>
    <app-fighter-detail *ngIf="fighter === selectedFighter" [fighter]="selectedFighter"></app-fighter-detail>
    <!-- TODO move this into app-fighter-detail -->
    <ng-container *ngIf="fighter === selectedFighter && selectedFighterRecentFights && selectedFighterWinInfo && selectedFighterLossInfo">
      <p>Wins breakdown:</p>
      <table>
        <tr>
          <th>Type</th>
          <th>Count</th>
          <th>%</th>
        </tr>
        <tr>
          <td>KO</td>
          <td>{{selectedFighterWinInfo.koCount}}</td>
          <td>{{selectedFighterWinInfo.koPercentage}}</td>
        </tr>
        <tr>
          <td>Submission</td>
          <td>{{selectedFighterWinInfo.subCount}}</td>
          <td>{{selectedFighterWinInfo.subPercentage}}</td>
        </tr>
        <tr>
          <td>Decision</td>
          <td>{{selectedFighterWinInfo.decCount}}</td>
          <td>{{selectedFighterWinInfo.decPercentage}}</td>
        </tr>
      </table>

      <p>Losses breakdown:</p>
      <table>
        <tr>
          <th>Type</th>
          <th>Count</th>
          <th>%</th>
        </tr>
        <tr>
          <td>KO</td>
          <td>{{selectedFighterLossInfo.koCount}}</td>
          <td>{{selectedFighterLossInfo.koPercentage}}</td>
        </tr>
        <tr>
          <td>Submission</td>
          <td>{{selectedFighterLossInfo.subCount}}</td>
          <td>{{selectedFighterLossInfo.subPercentage}}</td>
        </tr>
        <tr>
          <td>Decision</td>
          <td>{{selectedFighterLossInfo.decCount}}</td>
          <td>{{selectedFighterLossInfo.decPercentage}}</td>
        </tr>
      </table>

      <p>Recent fights:</p>
      <table>
        <tr *ngFor="let fight of selectedFighterRecentFights">
          <td>{{fight.event.date | date}}</td>
          <td>{{fight.weightClass}}</td>
          <td>{{fight.fighter1.name}} def. {{fight.fighter2.name}} via {{fight.result}}
            <strong [ngClass]="fighter.id === fight.fighter1.id ? 'win' : 'loss'">
              ({{fighter.id === fight.fighter1.id ? "Win" : "Loss"}})
            </strong>
          </td>
          <td>R{{fight.round}}, {{fight.time}}</td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="fighter === selectedFighter && !(selectedFighterRecentFights || selectedFighterWinInfo || selectedFighterLossInfo)">
      <mat-spinner></mat-spinner>
    </ng-container>
  </li>
  <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page"
                  (pageChange)="updatePage($event)"
                  [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
</ul>
